
*.DS_Store
/.vscode
/build
/debug
/release
/doc
LOG
# documentation/animations/*
# documentation/animations/*/*.py
*/quicktests.cpp
vtkmesh.vtk
pzmesh.txt
__py*
/*.geo

*.gdbinit

graphics
**/results
*.log
sec/dfn_config.h